@using Homework__3._13._24.Data;
@model AdViewModel

<div class="row">
    @foreach (Ad ad in Model.Ads)
    {
        <div class="col-md-6 offset-md-3">
            <div class="bg-light p-4 rounded shadow mb-3">
                <h5>Listed by @ad.Name</h5>
                <h5>Listed on @ad.Date.ToLongDateString()</h5>
                <h5>Phone Number: @ad.PhoneNumber</h5>
                <h3>Details:</h3>
                <p>@ad.Description</p>
                @if (ad.UserId == Model.UserId)
                {
                    <form method="post" action="/home/deletead">
                        <input type="hidden" name="id" value="@ad.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                }
            </div>

        </div>
    }
</div>